<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.thinking.newsell">
    <!--权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- Required -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1122170806115789#lingo" />
        <!-- 声明sdk所需的service SDK核心功能-->

        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />

        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>


        <activity android:name=".view.HomeActivity"></activity>
        <activity android:name=".view.seeshop.ShopActivity"></activity>


        <activity android:name=".view.seemy.MyselfInfo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.HomeActivity"></meta-data>
        </activity>

        <activity android:name=".view.seemy.ChangePassword">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.seemy.MyselfInfo"></meta-data>
        </activity>

        <activity android:name=".view.seemy.ChangeNicename">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.seemy.MyselfInfo"></meta-data>
        </activity>

        <activity android:name=".view.seemy.ChangeNicename2"></activity>

        <activity android:name=".view.seemy.ChangePhone">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.seemy.MyselfInfo"></meta-data>
        </activity>

        <activity android:name=".view.seemy.ChangePhone2"></activity>

        <activity android:name=".view.seeshop.GoodInfo.GoodActivity"></activity>
        <activity android:name=".view.seeshop.CategoryGoods.CategoryGoodsActivity"></activity>
        <activity android:name=".view.seeshop.GoodInfo.AssessInfo.AssessActivity"></activity>

        <activity android:name=".view.seeshop.ShopInfo.ImagesActivity"></activity>

        <activity android:name=".view.seeshop.ShopInfo.IntroductionShop"></activity>

        <activity android:name=".view.seeshop.ShopInfo.IntroductionLicense"></activity>

        <activity android:name=".view.seeshop.GoodInfo.Ask.AskActivity"></activity>

        <activity android:name=".view.seeshop.GoodInfo.Ask.ShowOneAskActivity"></activity>

        <activity android:name=".view.seeshop.GoodInfo.Attention.GoodAttentionActivity"></activity>

        <activity android:name=".view.seeshop.GoodInfo.AssessInfo.AssessDetailsActivity"></activity>

        <activity android:name=".view.seekpartners.SeekPartner"></activity>
        <activity
            android:name=".view.seekpartners.SearchPartner"
            android:windowSoftInputMode="stateVisible"></activity>

        <activity android:name=".view.seeshop.ShopFragments.InfoFragments.InfoShelfGood"></activity>

        <activity android:name=".view.seeshop.ShopFragments.InfoFragments.InfoShopGoods"></activity>

        <activity android:name=".view.chat.ChactActivity"></activity>

        <activity android:name=".view.chat.ChatActivity"></activity>

        <activity android:name=".view.chat.NewFriendsActivity"></activity>


        <activity android:name=".view.seeStatistics.OrderAllActivity"></activity>

        <activity android:name=".view.seeStatistics.OrderDetailsActivity"></activity>

        <activity android:name=".view.seeStatistics.SalesActivity"></activity>

        <activity android:name=".view.seeStatistics.PartnerActivity"></activity>

        <activity android:name=".view.seeStatistics.SalesChartActivity"></activity>

        <activity android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity" />

    </application>

</manifest>